<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="build/icon_256.ico" />
        <link rel="bookmark" href="build/icon_256.ico" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>番茄时钟</title>

        <script src="./node_modules/vue/dist/vue.js"></script>

        <!-- 引入样式 -->
        <link
            rel="stylesheet"
            href="./node_modules/element-ui/lib/theme-chalk/index.css"
        />
        <!-- 引入组件库 -->
        <script src="./node_modules/element-ui/lib/index.js"></script>
    </head>
    <style>
        #time {
            font-size: 50px;
            font-family: "Lucida Sans";
            text-align: center;
            margin-bottom: 20px;
        }

        #text {
            height: 20px;
            margin-top: 10px;
            font-size: 14px;
            color: cornflowerblue;
        }

        #app {
            text-align: center;
        }

        #btn {
            margin-bottom: 10px;
        }
    </style>

    <body>
        <div id="app">
            <div id="main">
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <el-radio-group
                        v-model="radio2"
                        size="medium"
                        @change="switchClock()"
                    >
                        <el-radio-button label="25">25分钟</el-radio-button>
                        <el-radio-button label="30">30分钟</el-radio-button>
                        <el-radio-button label="40">40分钟</el-radio-button>
                        <el-radio-button label="50">50分钟</el-radio-button>
                    </el-radio-group>
                </div>
            </div>

            <div id="time">
                {{time}}
                <div id="text">{{clockInfo}}</div>
            </div>

            <div id="btn">
                <el-button type="primary" plain @click="status()" v-show="showBtn"
                    >{{text}}</el-button
                >
                <el-button
                    type="primary"
                    @click="centerDialogVisible = true"
                    v-show="showBtn"
                    >自定义时间</el-button
                >
                <el-button type="primary" plain @click="endClock()">结束</el-button>
            </div>

            <div id="dialog">
                <el-dialog
                    title="自定义时间"
                    :visible.sync="centerDialogVisible"
                    width="55%"
                    center
                >
                    <template>
                        <el-input-number
                            v-model="hour"
                            size="mini"
                            controls-position="right"
                            @change="handleChange"
                            :min="0"
                            :max="24"
                        ></el-input-number
                        >时
                        <el-input-number
                            v-model="minutes"
                            size="mini"
                            controls-position="right"
                            @change="handleChange"
                            :min="0"
                            :max="60"
                            >小时</el-input-number
                        >分
                        <el-input-number
                            v-model="seconds"
                            size="mini"
                            controls-position="right"
                            @change="handleChange"
                            :min="0"
                            :max="60"
                            >小时</el-input-number
                        >秒
                    </template>

                    <span slot="footer" class="dialog-footer">
                        <el-button @click="centerDialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="custom()">确 定</el-button>
                    </span>
                </el-dialog>
            </div>

            <div id="showFinish">{{finishNum}}</div>
        </div>
    </body>
    <script type="module">
        const { dialog } = require("electron").remote;
        const path = require("path");
        const localdb = require("./js/db.js");
        const time = require("./js/timeUtil.js");

        var clock;
        var breakClock;
        var numText = "";
        var fs = require("fs");

        const low = require("lowdb");
        const FileSync = require("lowdb/adapters/FileSync");
        const adapter = new FileSync("test.json"); // 申明一个适配器

        const db = low(adapter);

        let app = new Vue({
            el: "#app",
            data: {
                finishNum: "",
                hour: 0,
                minutes: 25,
                seconds: 0,
                defaultMinues: 1,
                time: "",
                text: "开始",
                isBegin: true, // 显示开始、暂停状态
                remainSeconds: 0, // 剩余时间 用于暂停功能
                radio2: 25, // 时间的默认值
                clockInfo: "", // 时钟状态信息
                breakTime: 5, // minutes
                showBtn: true, // 按钮显示状态
                clockStatus: "", // 番茄钟的状态 ‘work' 'break'
                centerDialogVisible: false,
                startTime: "", // 番茄钟开始时间
                endTime: "", // 番茄钟结束时间
                planTime: "", // 番茄钟预定时间
            },
            methods: {
                custom() {
                    this.centerDialogVisible = false;
                    this.time = this.start();
                },
                // 开始和暂停功能
                status() {
                    if (this.text === "开始") {
                        this.startTime = new Date();
                        this.text = "暂停";
                        this.clockInfo = "进行中";
                        this.isBegin = true;
                        this.clockStatus = "work";
                        let allSeconds = this.getAllSeconds();
                        // this.$message.success("开始时剩余时间：" + this.remainSeconds);
                        if (this.remainSeconds != 0) {
                            allSeconds = this.remainSeconds;
                        }
                        this.startClock(allSeconds);
                    } else if (this.text === "暂停") {
                        this.text = "开始";
                        this.isBegin = false;
                    }
                },
                // 倒计时
                startClock(allSeconds) {
                    clock = window.setInterval(() => {
                        if (this.isBegin) {
                            allSeconds--;
                            this.time = this.getTime(this.clockStatus, allSeconds);

                            // 当预定时间到点时
                            if (allSeconds < 1) {
                                this.endTime = new Date();
                                window.clearInterval(clock);
                                this.text = "开始";
                                this.playNotify();
                                // 将番茄钟信息插入到数据库中
                                let planTime =
                                    this.hour +
                                    "h" +
                                    this.minutes +
                                    "m" +
                                    this.seconds +
                                    "s";
                                this.insertData(
                                    time.timeId(),
                                    time.timeStamp2String(this.startTime),
                                    time.timeStamp2String(this.endTime),
                                    planTime,
                                    time.getUseTime(this.startTime, this.endTime),
                                    "true"
                                );
                                // 刷新番茄钟完成数据
                                this.getFinishNumber();

                                // 开始休息时间
                                this.startBreak(this.breakTime * 60);
                            }
                        } else {
                            window.clearInterval(clock);
                            this.remainSeconds = allSeconds;
                            // this.$message.success(this.remainSeconds+"");
                        }
                    }, 1000);
                },
                // 休息时间
                startBreak(s) {
                    this.clockStatus = "break";
                    this.clockInfo = "休息中";
                    this.showBtn = false;
                    breakClock = window.setInterval(() => {
                        s--;
                        this.time = this.getTime("break", s);

                        if (s < 1) {
                            this.time = this.start();
                            window.clearInterval(breakClock);
                            this.showBtn = true;
                            this.clockInfo = "";
                            // 调用系统的通知窗口
                            this.notify(
                                "番茄时钟",
                                "您已经完成一个番茄时钟，请继续加油！"
                            );
                            this.clockStatus = "";
                        }
                    }, 1000);
                },
                // 初始化
                start() {
                    let ahour = this.hour;
                    let aminutes = this.minutes;
                    let aseconds = this.seconds;

                    if (ahour < 10) {
                        ahour = "0" + ahour;
                    }

                    if (aminutes < 10) {
                        aminutes = "0" + aminutes;
                    }

                    if (aseconds < 10) {
                        aseconds = "0" + aseconds;
                    }

                    if (this.hour != 0) {
                        return ahour + ":" + aminutes + ":" + aseconds;
                    } else {
                        return aminutes + ":" + aseconds;
                    }
                },
                // 结束番茄钟
                endClock() {
                    if (this.clockStatus === "work") {
                        dialog
                            .showMessageBox({
                                type: "warning",
                                title: "警告",
                                message: "现在番茄钟正在运行，确定要结束吗？",
                                buttons: ["确定", "取消"],
                            })
                            .then((result) => {
                                // this.$message.success(""+result.response)
                                // 根据buttons中按钮组中的索引值来判断
                                if (result.response == 0) {
                                    window.clearInterval(clock);
                                    this.endTime = new Date();
                                    this.time = this.start();
                                    this.remainSeconds = 0;
                                    this.text = "开始";
                                    this.clockInfo = "";

                                    // 在运行中的番茄钟结束，就相当于失败了。把失败的数据插入到数据库中。
                                    let planTime =
                                        this.hour +
                                        "h" +
                                        this.minutes +
                                        "m" +
                                        this.seconds +
                                        "s";
                                    this.insertData(
                                        time.timeId(),
                                        time.timeStamp2String(this.startTime),
                                        time.timeStamp2String(this.endTime),
                                        planTime,
                                        time.getUseTime(this.startTime, this.endTime),
                                        "false"
                                    );
                                }
                            });
                    } else if (this.clockStatus === "break") {
                        dialog
                            .showMessageBox({
                                type: "warning",
                                title: "警告",
                                message: "现在是休息时间，确定要结束吗？",
                                buttons: ["确定", "取消"],
                            })
                            .then((result) => {
                                // this.$message.success(""+result.response)
                                // 根据buttons中按钮组中的索引值来判断
                                if (result.response == 0) {
                                    this.time = this.start();
                                    window.clearInterval(breakClock);
                                    this.showBtn = true;
                                    this.clockInfo = "";
                                    // 调用系统的通知窗口
                                    this.notify(
                                        "番茄时钟",
                                        "您已经完成一个番茄时钟，请继续加油！"
                                    );
                                    this.clockStatus = "";
                                }
                            });
                    }
                },
                // 选择时间
                switchClock() {
                    this.minutes = this.radio2;
                    this.time = this.start();
                },
                // 时间结束后播放提示音
                playNotify() {
                    let audio = new Audio();
                    audio.src = "./sound/1.wav";
                    audio.play();
                },
                getAllSeconds() {
                    return this.hour * 3600 + this.minutes * 60 + this.seconds;
                },
                getHour(seconds) {
                    return Math.floor(seconds / 3600);
                },
                getMinutes(seconds) {
                    return Math.floor((seconds - this.getHour(seconds) * 3600) / 60);
                },
                getSeconds(seconds) {
                    return Math.floor(
                        seconds -
                            this.getHour(seconds) * 3600 -
                            this.getMinutes(seconds) * 60
                    );
                },
                // 给定总秒数返回特定格式的时间字符串 00:00:00
                getTime(status, s) {
                    if (status === "work") {
                        let hour = this.getHour(s);
                        let minutes = this.getMinutes(s);
                        let seconds = this.getSeconds(s);

                        let ahour = hour;
                        let aminutes = minutes;
                        let aseconds = seconds;

                        if (hour < 10) {
                            ahour = "0" + ahour;
                        }

                        if (minutes < 10) {
                            aminutes = "0" + aminutes;
                        }

                        if (seconds < 10) {
                            aseconds = "0" + aseconds;
                        }

                        if (hour == 0) {
                            return aminutes + ":" + aseconds;
                        } else {
                            return ahour + ":" + aminutes + ":" + aseconds;
                        }
                    } else if (status === "break") {
                        let minutes = this.getMinutes(s);
                        let seconds = this.getSeconds(s);

                        let aminutes = minutes;
                        let aseconds = seconds;

                        if (minutes < 10) {
                            aminutes = "0" + aminutes;
                        }

                        if (seconds < 10) {
                            aseconds = "0" + aseconds;
                        }

                        let result = aminutes + ":" + aseconds;

                        return result;
                    }
                },
                // 根据秒数，返回 xxhxxminxxs
                getFomatTime(s) {
                    let hour = this.getHour(s);
                    let minutes = this.getMinutes(s);
                    let seconds = this.getSeconds(s);

                    let ahour = hour;
                    let aminutes = minutes;
                    let aseconds = seconds;

                    if (s < 60) {
                        return aseconds + "s";
                    }

                    if (minutes == 0 && hour == 0) {
                        return aseconds + "s";
                    }

                    if (hour == 0) {
                        if (seconds == 0) {
                            return aminutes + "m";
                        }
                        return aminutes + "m" + aseconds + "s";
                    }

                    if (s >= 3600) {
                        if (s == 3600) return ahour + "h";

                        if (seconds == 0) {
                            return ahour + "h" + aminutes + "m";
                        }

                        if (minutes == 0) {
                            return ahour + "h" + seconds + "s";
                        }
                    }

                    return ahour + "h" + aminutes + "m" + aseconds + "s";
                },
                // 调用系统通知
                notify(title, body) {
                    var option = {
                        title: title,
                        body: body,
                    };
                    new window.Notification(option.title, option);
                },
                handleChange(value) {
                    // console.log(value);
                },
                // 查询当天完成番茄钟的个数
                async getFinishNumber() {
                    let data = await db
                        .read()
                        .get("AllList")
                        .filter({ isFinished: "true" })
                        .value();
                    let num = data.length;
                    let totalSeconds = 0;
                    for (let i = 0; i < data.length; i++) {
                        totalSeconds += data[i].useTime;
                    }
                    let result = this.getFomatTime(totalSeconds);

                    if (num == 0) {
                        this.finishNum = "今天还没开始做番茄钟。";
                    } else {
                        this.finishNum =
                            "今天已经完成" +
                            num +
                            "个番茄钟，时间总计" +
                            result +
                            "。请继续加油！";
                    }
                },
                async insertData(id, startTime, endTime, planTime, useTime, isFinished) {
                    db.defaults({ AllList: [] }).write();
                    await db
                        .read()
                        .get("AllList")
                        .push({
                            id: id,
                            startTime: startTime,
                            endTime: endTime,
                            planTime: planTime,
                            useTime: useTime,
                            isFinished: isFinished,
                        })
                        .write();
                },
            },
            created() {
                // 将显示文字重置为初始值
                this.time = this.start();
            },
            mounted() {
                this.getFinishNumber();
            },
        });
        // 关闭所有窗口
        window.onbeforeunload = function (e) {
            // console.log('I do not want to be closed')
            if (app.clockStatus == "work") {
                app.endTime = new Date();
                // 将番茄钟信息插入到数据库中
                let planTime = app.hour + "h" + app.minutes + "m" + app.seconds + "s";
                app.insertData(
                    time.timeId(),
                    time.timeStamp2String(app.startTime),
                    time.timeStamp2String(app.endTime),
                    planTime,
                    time.getUseTime(app.startTime, app.endTime),
                    "false"
                );

                e.preventDefault();
            }
        };
    </script>
</html>
